<nav class="navbar navbar-expand-md navbar-dark bg-dark">
<div class="container">
  <a class="navbar-brand"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Phonebook</font></font></a>
  <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Alternar de navegação">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarCollapse">
    <ul class="navbar-nav me-auto mb-2 mb-md-0">
      <li class="nav-item">
        <a class="nav-link active" aria-current="page" routerLink="phones"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Phones</font></font></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="types"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Types</font></font></a>
      </li>
    </ul>
  </div>
</div>
</nav>